*, *::after, *::before{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    background: rgb(255, 132, 100);
    background: linear-gradient(90deg,
     rgba(255,132,100,1)0%,
     rgba(255,105,165,1)100%
     );
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.card-body{
    background:white ;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}
.card-body h1{
    margin-bottom: 15px;
    font-size: 70px;
}
.card-btn button{
    border-radius: 5px;
    color: #262626;
    padding: 25px;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    margin: 0, 5px;
    cursor: pointer;
    transition: 0.5s;
}

button#decrement{
    background: #f6e58d;
}
button#decrement:hover{
    background: #f79f1f;
    color: white;
}

button#increment{
    background: #f6e58d; 
}
button#increment:hover{
    background: #009432;
    color: white;
}

button#reset{
    background: #f6e58d;
}
button#reset:hover{
    background: #ea2027;
    color: white;
}
